<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>

<form method="post">

    <h1>Регистрация</h1>
    <p>
        Username: <input name="username"/>
    </p>
    <p>
        Password: <input name="password" type="password" minlength="4"/>
    </p>
    <p>
        Password repeat: <input name="password2" type="password" minlength="4"/>
    </p>
    <p>
        Role: <input name="role" />
    </p>
    <button>Register</button>

</form>

<style>
body {
    font-size: 20px;
    text-align: center;
}

</style>
</body>
</html>